@use 'theme';

body {
  display: flex;
  flex-direction: column;
  color: theme.$fontBlack;
  @extend %white-background;

  main {
    @include theme.horizontal-symmetrical-margin($value: 35px);
    display: flex;
    flex-direction: column;


    #add-entry {
      display: flex;
      flex-direction: row;

      input[type=text] {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 5px solid theme.$secondaryCol;
        width: 100%;
      }

      button[type=submit] {
        border: none;
        background-color: transparent;
        @include theme.horizontal-symmetrical-margin($value: 10px);
      }
    }

    .category-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      article.category {
        display: flex;
        flex-direction: column;

        background-color: rgb(255, 255, 255);
        min-width: 300px;
        min-height: 200px;
        margin: 5px;
        padding: 15px;
        border-radius: 20px;

        h2 {
          @include theme.vertical-symmetrical-margin($value: 5px);
          @include theme.horizontal-symmetrical-margin($value: 10px);
          font-family: theme.$font-family-regular;
          align-self: center;
        }

      }

    }

  }

  main.landing {
    align-items: center;
    flex-direction: row;

    img {
      max-width: 400px;
      margin: 20px;
      border-radius: 20px;
    }

    h1 {
      font-family: theme.$font-family-title;
    }

    section.login-prompt {
      margin: 20px;

      button.login {
        border: none;
        background-color: theme.$secondaryCol;
        color: white;
        padding: 5px;
        border-radius: 20px;

        span {
          @include theme.horizontal-symmetrical-margin($value: 10px);
        }
      }
    }

  }
}
